<!DOCTYPE html>
<html lang="en">
  <head th:replace="dashboard/layouts/header :: header"></head>

  <body id="page-top">
    <div id="wrapper">
      <ul th:replace="dashboard/layouts/sidebar :: sidebar"></ul>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav th:replace="dashboard/layouts/navbar :: navbar"></nav>

          <div class="container-fluid">
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Manage Test Bookings</h1>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  List of all Test Bookings
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Test Name</th>
                        <th>Patient Username</th>
                        <th>Book Date</th>
                        <th>Test Date</th>
                        <th>Test Time</th>
                        <th>Disease Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="testbooking, id: *{testbookings}">
                        <td th:text="${testbooking.testName}">Test Name</td>
                        <td th:text="${testbooking.patientName}">
                          Patient Name
                        </td>
                        <td th:text="${testbooking.currDate}">Book Date</td>
                        <td th:text="${testbooking.bookDate}">Test Date</td>

                        <td th:text="${testbooking.bookTime}">Test Time</td>
                        <td th:text="${testbooking.diseaseDescription}">
                          Disease Description
                        </td>
                        <td th:text="'₹' + ' ' + *{costs[id.index]}">Amount</td>
                        <td
                          th:if="${testbooking.status} == 'Confirmed'"
                          th:text="Paid"
                        >
                          Status
                        </td>
                        <td
                          th:unless="${testbooking.status} == 'Confirmed'"
                          th:text="Unpaid"
                        >
                          Status
                        </td>
                        <td style="text-align: center">
                          <a
                            th:href="${'/dashboard/delete/testbooking/' + testbooking.testbookingID}"
                            class="btn btn-danger"
                            ><i class="fa fa-trash"></i> Delete</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer th:replace="dashboard/layouts/footer :: footer"></footer>
      </div>
    </div>

    <a th:replace="dashboard/layouts/scrollToTop :: scrollToTop"> </a>
    <div th:replace="dashboard/layouts/logoutModal :: logoutModal"></div>
    <script th:replace="toast :: toast"></script>
  </body>
</html>
