<!DOCTYPE html>
<html lang="en">
  <head th:replace="dashboard/layouts/header :: header"></head>

  <body id="page-top">
    <div id="wrapper">
      <ul th:replace="dashboard/layouts/sidebar :: sidebar"></ul>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav th:replace="dashboard/layouts/navbar :: navbar"></nav>

          <div class="container-fluid">
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800" th:text="${test.testName}"></h1>
              <a
                th:href="@{/dashboard/test/delete/__${test.testID}__}"
                class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
                >Delete test</a
              >
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
              </div>
              <div class="card-body">
<div class="wrapper bg-white mt-sm-5">
    <form th:object=${test} method="POST" enctype="multipart/form-data">
        <div class="d-flex align-items-start py-3 border-bottom">
            <div class="avatar">
            <img th:if="${test.photo}" th:src="@{__${test.photosImagePath}__}" class="avatar-bg" text-align="center" style="
            background-position: 50% 50%;
            height: 200px;
            width: 200px;
            background-size: cover;
            border-radius: 50%;
            margin-left: 650px"/>
            <img th:unless="${test.photo}" th:src="@{https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png}" class="avatar-bg" text-align="center" style="
            background-position: 50% 50%;
            height: 200px;
            width: 200px;
            background-size: cover;
            border-radius: 50%;
            margin-left: 650px"/>
            </div>
            <div class="pl-sm-4 pl-2 ms-3 mt-5" id="img-section"> <b>Profile Photo</b>
                <p>Accepted file type .png. Less than 1MB</p> 
                <input type="file" name = "file" accept="image/png image/jpg image/jpeg">
            </div>
            </div>
        
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-12"> <label for="ttestName">Name</label> <input type="text" th:field="*{testName}" th:readonly="true" class="bg-light form-control" placeholder="Name"> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-12"> <label for="setupDate">Set Up Date</label> <input type="text" th:field="*{setupDate}" required="required" class="bg-light form-control" placeholder="Set Up Date"> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-12"> <label for="description">Description</label> <input type="text" th:field="*{description}" required="required" class="bg-light form-control" placeholder="Description"> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-12"> <label for="cost">Cost</label> <input type="text" class="bg-light form-control" th:field="*{cost}" required="required" placeholder="Cost"> </div>
            </div>
        </div>
        <div class="py-3 pb-4 border-bottom text-center"> <button type="submit" class="btn btn-primary mr-3">Save Changes</button> </div>

    </form>
    </div>
 
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        <footer th:replace="dashboard/layouts/footer :: footer"></footer>
      </div>
    </div>

    <a th:replace="dashboard/layouts/scrollToTop :: scrollToTop"> </a>
    <div th:replace="dashboard/layouts/logoutModal :: logoutModal"></div>
    <script th:replace="toast :: toast"></script>
  </body>
</html>
