<!DOCTYPE html>
<html>
<head th:replace="header :: header"></head>
<body text-align="center">

<div th:replace="navbar :: navbar"></div>

<div class="row register-form" style="margin-top: 100px; width: 100%;">
    <div class="col-md-6 offset-md-3" style="background-color: aliceblue;">
        <form display="inline" class="custom-form" style="background-color: aliceblue;" th:object="${testbooking}" method="post">
            <h1>Book Test</h1>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="patientName-input-field">Patient Username </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" th:readonly="true" th:field="*{patientName}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="testName-input-field">Test Name </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" th:readonly="true" th:field="*{testName}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="currDate-input-field">Date </label></div>
                <div class="col-sm-5 input-column"><input type="text" class="form-control" th:readonly="true" th:field="*{currDate}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="bookDate-input-field">Booking Date</la0bel></div>
                <div class="col-sm-5 input-column"><input type="date" min="2021-11-15" max="2022-12-31" class="form-control" placeholder="Test Booking Date" required="required" th:field="*{bookDate}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="booktime-input-field">Booking Time </label></div>
                <div class="col-sm-5 input-column"><input type="time" value="00:00" class="form-control" placeholder="Test Booking Time" required="required" th:field="*{bookTime}"></div>
            </div>
            <div class="row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="diseaseDescription-input-field">Description </label></div>
                <div class="col-sm-5 input-column"><textarea class="form-control" rows="4" required="required" placeholder="Description" th:field="*{diseaseDescription}"></textarea></div>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-block btn-lg">Confirm Booking</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="footer :: footer"></div>
<script th:replace="toast :: toast"></script>

</body>
</html>