<!DOCTYPE html>
<html>
<head th:replace="header :: header"></head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
    <h1 style="transform: translate(0px);padding: 10px;font-style: italic;text-align: center;font-size: 60px;color: var(--bs-yellow);">Doctors</h1>
    <tr th:if="${doctors.empty}">
       <h1 style="transform: translate(0px);padding: 10px;font-style: italic;text-align: center;font-size: 60px;color: var(--bs-yellow);">No Doctors are Available currently.</h1>
    </tr>

    <div class="row product-list dev">

    <tr th:each="doctor, id:${doctors}">
    
        <div class="col-sm-6 col-md-4 product-item  animation-element slide-top-left">
            <div class="product-container">
        <div class="row">
            <div class="col-md-12"><a class="product-image" href="#"><img th:src="@{__${users[id.index].getPhotosImagePath}__}"></a></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="product-price" th:text="${doctor.username}" style="text-align:center;margin-top: -10px;">Doctor Name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
            <div class="col-4 product-price" th:text="${doctor.specialization}" style="text-align:left;margin-left: 40px;">Specialization</div>
            </div>
            <div class="col-4 product-price" style="padding-right: 80px;">$599.00</div>
          </div>
          <div class="row">
            <div class="col-8">
            <div class="col-4 product-price" th:text="${doctor.designation}" style="text-align:left;margin-left: 40px;">Designation</div>
            </div>
          </div>
                <hr>
                <div class="text-center">
                    <a th:href="@{__${patientName}__/__${doctor.username}__/appointment}" role="button" class="btn btn-primary" style="background-color: chocolate;">Book Appointment</a>
        </div>
    </div>
    </div>
    </div>
    </div>
<div th:replace="footer :: footer"></div>
<script th:replace="toast :: toast"></script>

</body>
</html>