<!DOCTYPE html>
<html>
<head th:replace="header :: header"></head>
<body>

<div th:replace="navbar :: navbar"></div>

<body>
    <section class="register-photo" style="margin-top:50px;">
      <div class="form-container">
          <div class="image-holder" style="background-image: url('https://wallpapercave.com/wp/wp1848585.jpg');"></div>
          <form method="POST" th:action="@{/login}" th:object="${user}">
              <h2 class="text-center" style="color: var(--bs-gray-dark);"><strong>Login</strong></h2>
              <div class="mb-3"><input class="form-control" type="text" required="required" placeholder="Username" th:field="*{username}"></div>
              <div class="mb-3"><input class="form-control" type="password" required="required" placeholder="Password" th:field="*{password}"></div>
              <div class="mb-3"><input class="form-control" type="password" required="required" placeholder="Confirm Password" th:field="*{passwordConfirm}"></div>
              <div class="mb-3"></div>
              <div class="mb-3"></div>
              <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: linear-gradient(black 36%, white), var(--bs-gray-700);">Sign in</button></div>
          </form>
      </div>
  </section>

<div th:replace="footer :: footer"></div>
<script th:replace="toast :: toast"></script>

</body> 
</html>
