<div th:fragment="navbar">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
        <div class="container-fluid"><div class="navbar-header"></div><a class="navbar-brand" th:href="@{/}"><img style="height:70px;max-width:70px" class="logo-custom" src="/images/hospital.png" alt="" />&nbsp;Gupta's</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></a>
        
        <div class="collapse navbar-collapse" id="navcol-2" th:unless="${loggedinUser}">
                
            <ul class="nav navbar-nav navbar-right ms-auto">
                <li class="inline nav-item" style="margin-top:10px"><a th:href="@{/}" role="button" class="btn btn-default" style="color:white;"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                <li class="inline nav-item" style="margin-top:10px"><a th:href="@{/register}" role="button" class="btn btn-default" th:if="not ${loggedinUser}" style="color:white;"><i class="fa fa-registered"></i>&nbsp;Registration</a></li>
                <li class="inline nav-item" style="margin-top:10px"><a th:href="@{/login}" role="button" class="btn btn-default" th:if="not ${loggedinUser}" style="color:white;"><i class="fa fa-sign-in"></i>&nbsp;Login</a></li>
               
            </ul>
        </div>  

        <div class="collapse navbar-collapse" id="navcol-2" th:if="${loggedinUser}">
                    
                <ul class="nav navbar-nav navbar-right ms-auto">
                    <li class="inline nav-item" style="margin-top:13px"><a th:href="@{/}" role="button" class="btn btn-default" style="color:white;"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                    <li class="inline nav-item" style="margin-top:13px"><a th:href="@{/doctors}" role="button" class="btn btn-default" th:if="${loggedinUser}" style="color:white;"><i class="fa fa-user-md"></i>&nbsp;Book Appointment</a></li>
                    <li class="inline nav-item" style="margin-top:13px"><a th:href="@{/booktest}" role="button" class="btn btn-default" th:if="${loggedinUser}" style="color:white;"><i class="fa fa-heartbeat"></i>&nbsp;Book Test</a></li>
                    <li class="inline nav-item" style="margin-top:13px"><a th:href="@{/ward}" role="button" class="btn btn-default" th:if="${loggedinUser}" style="color:white;"><i class="fa fa-bed"></i>&nbsp;Book Room</a></li>
                    <li class="inline nav-item" style="margin-top:13px"><a th:href="@{/medicines}" role="button" class="btn btn-default" th:if="${loggedinUser}" style="color:white;"><i class="fa fa-medkit"></i>&nbsp;Order Medicine</a></li>
                    <li class="nav-item dropdown no-arrow" th:if="${loggedinUser}" style="margin-top:1px">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="font-size:20px; color:white;" th:text="${loggedinUser}"></span>
                            <img class="img-profile rounded-circle" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" 
                            style=" width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-left: 10px;">
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="right:0;left: auto;">
                            <a class="dropdown-item" th:href="@{/profile/__${loggedinUser}__}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw text-gray-400"></i>
                                Your Profile
                            </a>
                            <a class="dropdown-item" th:href="@{/myappointments}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw text-gray-400"></i>
                                Your Appointments
                            </a>
                            <a class="dropdown-item" th:href="@{/mytestbookings}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Your Test Bookings
                            </a>
                            <a class="dropdown-item" th:href="@{/myroombookings}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Your Room Bookings
                            </a>
                            <a class="dropdown-item" th:href="@{/mymedicineorders}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Your Medicine Orders
                            </a>
                            <a class="dropdown-item" th:href="@{/mycart}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Your Cart
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- <div class="navbar navbar-inverse navbar-fixed-top " id="menu" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img class="logo-custom" src="/images/hospital.png" alt="" /></a>
        </div>
        <div class="navbar-collapse collapse move-me">
            <ul class="nav navbar-nav navbar-right">
                <li class="inline"><a th:href="@{/}">Home</a></li>
                <li ><a th:if="not ${username}" th:href="@{/register}">Registration</a></li>
                <li ><a th:href="@{/doctor/application}">Apply for Doctor</a></li>
                <li ><a th:if="${username}" th:href="@{/doctors}">Book Appointment</a></li>
                <li ><a th:if="${username}" th:href="@{/booktest}">Book Test</a></li>
                <li ><a th:if="${username}" th:href="@{/medicines}">Order Medicine</a></li>
                <li ><a th:if="${username}" th:href="@{/ward}">Book Room</a></li>
                <li ><a th:if="${username}" th:href="@{/mycart}">My Cart</a></li>
                <li><a th:if="not ${username}" th:href="@{/login}">Login</a></li>
                <li class="nav-item dropdown" th:if="${username}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${username}"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/welcome}">Home</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
