<!DOCTYPE html>
<html>
<head th:replace="header :: header"></head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
    <h1 style="transform: translate(0px);padding: 10px;font-style: italic;text-align: center;font-size: 60px;color: var(--bs-yellow);">Tests</h1>
    <tr th:if="${tests.empty}">
       <h1 style="transform: translate(0px);padding: 10px;font-style: italic;text-align: center;font-size: 60px;color: var(--bs-yellow);">No Tests are Available currently.</h1>
    </tr>

    <div class="row product-list dev">

    <tr th:each="test : ${tests}">
    
        <div class="col-sm-6 col-md-4 product-item  animation-element slide-top-left">
            <div class="product-container">
        <div class="row">
            <div class="col-md-12"><a class="product-image" href="#"><img th:src="@{__${test.photosImagePath}__}"></a></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="product-price" th:text="${test.testName}" style="text-align:center;margin-top: -10px;">Test Name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
            <div class="col-4 product-price" th:text="${test.description}" style="text-align:left;margin-left: 40px;">Description</div>
            </div>
            <div class="col-4 product-price" style="padding-right: 80px;" th:text="'₹' + *{test.cost}">Cost</div>
          </div>
          <!-- <div class="row">
            <div class="col-8">
            <div class="col-4 product-price" th:text="${doctor.designation}" style="text-align:left;margin-left: 40px;">Designation</div>
            </div>
          </div> -->
                <hr>
                <div class="text-center">
                    <a th:href="@{__${patientName}__/booktest/__${test.testID}__}" role="button" class="btn btn-primary" style="background-color: chocolate;">Book Test</a>
        </div>
    </div>
    </div>
    </div>
    </div>
<div th:replace="footer :: footer"></div>
<script th:replace="toast :: toast"></script>

</body>
</html>