<!-- <script th:if="${errorToast}" th:fragment="toast" th:inline="javascript">
    // <![CDATA[
        iziToast.error({
            title: 'Error',
            message: "[[${errorToast}]]"
        });
    // ]]>
    </script>
    
    <script th:if="${successToast}" th:fragment="toast" th:inline="javascript">
        iziToast.success({
            title: 'Success',
            message: "[[${successToast}]]"
        });
    </script>
     -->

<script th:if="${errorToast}" th:fragment="toast" th:inline="javascript">
	iziToast.error({
		title: "Error",
		message: [[${errorToast}]],
	});
</script>

<script th:if="${successToast}" th:fragment="toast" th:inline="javascript">
	iziToast.success({
		title: "Great",
		message: [[${successToast}]],
	});
</script>