<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body style="width: 100%;">

<div th:replace="navbar :: navbar"></div>

<header class="text-center text-white masthead" style="background: url('https://thumbs.dreamstime.com/z/iv-drip-background-blurred-hospital-ward-concept-serenity-58687572.jpg')no-repeat center center;background-size: cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto position-relative">
                <h2 class="mb-5">A heritage in care! A reputation in excellence!</h2>
                
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative" th:unless="${loggedinUser}">
                <form th:action="@{/register}" method="GET">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 col-xl-4 offset-sm-0 offset-md-4 offset-xl-4"><button class="btn btn-primary btn-lg" type="submit" style="background-color: var(--bs-blue);">Register</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--HOME SECTION END-->

<section id="features" class="section-features">
     <div class="container" text-align="center">   
    <div class="row d-block mr-0 align-self-center justify-content-center" text-align="center" style="width: auto;padding-top:20px">
        <h2 class="mt-5" text-align="center" style="padding-left: 500px;"> Quick Links &mdash; Explore</h2>
        <hr>
        <ul type="none" style="padding-left: 500px; margin-top: 40px;">
                    <li >   <div class="d-flex"><div style="width: 70px;" class="d-inline-block"><i class="fa fa-user-plus fa-3x mr-3" aria-hidden="true"></i></div>
                        <div class="d-inline-block mt-2"><span><a href="/register" class=""><h4 class="d-inline">Create a new Account</h4></a></span></div>
                    </div>
                    </li>
                    <br>
                    <li >   <div class="d-flex"><div style="width: 70px;" class="d-inline-block"><i class="fa fa-user-md fa-3x mr-3" aria-hidden="true"></i></div>
                        <div class="d-inline-block mt-2"><span><a href="/doctors" class=""><h4 class="d-inline">Book an Appointment</h4></a></span></div>
                    </div>
                    </li>
                    <br>
                    <li >   <div class="d-flex"><div style="width: 70px;" class="d-inline-block"><i class="fa fa-heartbeat fa-3x mr-3" aria-hidden="true"></i></div>
                        <div class="d-inline-block"><span><a href="/booktest" class=""><h4 class="d-inline">Book a Test</h4></a></span></div>
                    </div>
                    </li>
                    <br>
                    <li >   <div class="d-flex"><div style="width: 70px;" class="d-inline-block"><i class="fa fa-bed fa-3x mr-3" aria-hidden="true"></i></div>
                        <div class="d-inline-block"><span><a href="/ward" class=""><h4 class="d-inline">Book A Room</h4></a></span></div>
                    </div>
                    </li>
                    <br>
                    <li >   <div class="d-flex"><div style="width: 70px;" class="d-inline-block"><i class="fa fa-medkit fa-3x mr-3" aria-hidden="true"></i></div>
                      <div class="d-inline-block"><span><a href="/medicines" class=""><h4 class="d-inline">Order Medicines</h4></a></span></div>
                  </div>
                  </li>
                  <br>
                    <li >   <div class="d-flex"><div style="width: 70px;" class="d-inline-block"><i class="fa fa-pencil fa-3x mr-3" aria-hidden="true"></i></div>
                        <div class="d-inline-block"><span><a href="/doctor/application" class=""><h4 class="d-inline">Apply for Doctor</h4></a></span></div>
                    </div>
                    </li>
                    <br>
            
                    </ul>
     </div>  
     </div>   
</section>
<section class="showcase"></section>
    <section class="text-center bg-light testimonials" style="margin-top: 50px;padding-top:50px;margin-bottom: 50px;">
        <div class="container">
            <h2 class="mb-5">What people are saying.. .</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="assets/img/testimonials-1.jpg">
                        <h5>Shivani Garg</h5>
                        <p class="font-weight-light mb-0">"The hospitality is fantastic...Thankyou so much Gupta's!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="assets/img/testimonials-2.jpg">
                        <h5>Parag Goel</h5>
                        <p class="font-weight-light mb-0">"The Doctors are well qualified and very helpful. Great Hospital !"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="assets/img/testimonials-3.jpg">
                        <h5>Muskan Bansal</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these amazing resources available to us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="container">
    <div class="row" style="width: 100%; margin-top:20px;margin-left: auto;">
        <div class="col-md-6" style="background-color: rgb(241,247,252);">
            <form method="POST" th:object="${contactUs}">
            <div class="form-group mb-3">
                <h1 class="text-center">Contact Us&nbsp;</h1>
            </div>
            <div class="form-group mb-3 " style="margin-left: 140px;"><input class="form-control" type="text" placeholder="Name" th:field="*{name}" required="required" style="width: 330px;"></div>
            <div class="form-group mb-3" style="margin-left: 140px;"><input class="form-control" type="email" style="width: 330px;" th:field="*{emailID}" required="required" placeholder="Email"></div>
            <div class="form-group mb-3" style="margin-left: 140px;"><input class="form-control" type="tel" placeholder="Phone Number" style="width: 330px;" th:field="*{phoneNumber}" required="required"></div>
            <div class="form-group mb-3" style="margin-left: 140px;"><input class="form-control" type="text" placeholder="Subject" style="width: 330px;" th:field="*{subject}" required="required"></div>
            <div class="form-group mb-3" style="margin-left: 140px;"><textarea class="form-control" style="width: 330px;" placeholder="Query" th:field="*{query}" required="required"></textarea></div>
            <div class="form-group mb-3" style="margin-left: 140px;"><button class="btn btn-info" type="submit" style="width: 330px;">Submit</button></div>
        </form>
        </div>
    </div> -->

    <!--Section: Contact v.1-->
<section class="section pb-4">
  
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-5 mb-5">
        <div style="background-color: rgb(241,247,252);">
          <form method="POST" th:object="${contactUs}">
          <div class="form-group mb-3">
              <h1 style="margin-left: 270px;margin-bottom: 50px;padding-top: 50px;">Contact Us&nbsp;</h1>
          </div>
          <div class="form-group mb-3 " style="margin-left: 200px;"><input class="form-control" type="text" placeholder="Name" th:field="*{name}" required="required" style="width: 330px;"></div>
          <div class="form-group mb-3" style="margin-left: 200px;"><input class="form-control" type="email" style="width: 330px;" th:field="*{emailID}" required="required" placeholder="Email"></div>
          <div class="form-group mb-3" style="margin-left: 200px;"><input class="form-control" type="tel" placeholder="Phone Number" style="width: 330px;" th:field="*{phoneNumber}" required="required"></div>
          <div class="form-group mb-3" style="margin-left: 200px;"><input class="form-control" type="text" placeholder="Subject" style="width: 330px;" th:field="*{subject}" required="required"></div>
          <div class="form-group mb-3" style="margin-left: 200px;"><textarea class="form-control" style="width: 330px;" placeholder="Query" th:field="*{query}" required="required"></textarea></div>
          <div class="form-group mb-3" style="margin-left: 200px;padding-bottom: 100px;"><button class="btn btn-info" type="submit" style="width: 330px;">Submit</button></div>
      </form>
      </div>
        
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-7">
  
        <!--Google map-->
        <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 250px;">
          <iframe src="https://maps.google.com/maps?q=new%20delphi&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      <!--Grid column-->
  
    </div>
  
  </section>
  <!--Section: Contact v.1-->
</div>

<div th:replace="footer :: footer"></div>
<script th:replace="toast :: toast"></script>

</body>
</html> 
